CramTool/CramTool/Formats/WordList/WordList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CramTool.WordList-1.0.0" xmlns="http://CramTool.WordList-1.0.0">
  <xs:element name="WordList" nillable="true" type="WordListXml" />
  <xs:complexType name="WordListXml">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Words" type="ArrayOfWordXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfWordXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="false" type="WordXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WordXml">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tags" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Events" type="ArrayOfWordEventXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfWordEventXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordEvent" nillable="false" type="WordEventXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WordEventXml">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EventType" type="WordEventTypeXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="WordEventTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Remembered" />
      <xs:enumeration value="Forgotten" />
      <xs:enumeration value="Forgot">
        <xs:annotation>
          <xs:documentation>This value is deprecated. Use 'Forgotten' instead.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>