CramTool/CramTool/Formats/Settings/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CramTool.Settings-1.0.0" xmlns="http://CramTool.Settings-1.0.0">
  <xs:element name="Settings" nillable="true" type="SettingsXml" />
  <xs:complexType name="SettingsXml">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecentFiles" type="ArrayOfRecentFileXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRecentFileXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecentFile" nillable="false" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>